@{
    ViewData["Title"] = "Admin Dashboard";
}


<div class="container">
    <div class="row">
        <div class="col">
            <h1>Welcome, Admin!</h1>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="d-flex justify-content-between">
                @if (!User.IsInRole("Climber"))
                {
                    <a class="cta-button" asp-area="Admin" asp-controller="Admin" asp-action="BecomeClimber">Become a Climber</a>

                }
                @if (!User.IsInRole("Coach"))
                {
                    <a class="cta-button" asp-area="Admin" asp-controller="Admin" asp-action="BecomeCoach">Become a Coach</a>
                }
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="d-flex justify-content-between">
                <a class="cta-button" asp-area="Admin" asp-controller="Admin" asp-action="AllUsers">All Users</a>
                <a class="cta-button" asp-area="Admin" asp-controller="Admin" asp-action="AllActivities">All Activities</a>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <form asp-action="CreateRole" method="post">
                <div class="mb-3">
                    <label for="roleName" class="form-label">Role</label>
                    <input type="text" class="form-control" id="roleName" name="role" placeholder="New Role (Moderator)" >
                </div>
                <button asp-area="Admin" asp-controller="Admin" asp-action="CreateRole" class="cta-button">Create Role</button>
            </form>
        </div>
    </div>
    <partial name="_AddUserToRolePartial" />
</div>
