@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Welcome, Admin!</h1>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="d-flex justify-content-between">
                <a class="btn btn-primary" href="#" role="button">Manage Users</a>
                <a class="btn btn-primary" href="#" role="button">Manage Climbing Trips</a>
                <a class="btn btn-primary" href="#" role="button">Manage Trainings</a>
                
            </div>
        </div>
    </div>
</div>
