@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="container">
    <div class="row">
        <div class="col">
            <h1>Welcome, Admin!</h1>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="d-flex justify-content-between">
                @if (!User.IsInRole("Climber"))
                {
                    <a class="cta-button" asp-area="Admin" asp-controller="Admin" asp-action="BecomeClimber">Become a Climber</a>

                }
                @if (!User.IsInRole("Coach"))
                {
                    <a class="cta-button" asp-area="Admin" asp-controller="Admin" asp-action="BecomeCoach">Become a Coach</a>
                }
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col">
            <div class="d-flex justify-content-between">
                <a class="cta-button" role="button">Manage Users</a>
                <a class="cta-button" role="button">Manage Climbing Trips</a>
                <a class="cta-button" role="button">Manage Trainings</a>
            </div>
        </div>
    </div>
</div>