.centered-heading {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
    letter-spacing: 6px;
    font-weight: 800;
    margin-top: 20px;
}
.activity-comments-container {
    padding: 20px;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    background-color: #f9f9f9;
}
    .activity-comments-container h2 {
        text-align: left;
        font-size: 28px;
        margin-bottom: 20px;
        letter-spacing: 6px;
        font-weight: 700;
        margin-top: 20px;
    }
    

    .activity-img {
        display: block;
        margin: 20px auto;
        max-width: 100%;
        border: 1px solid #e1e1e1;
        border-radius: 10px;
        height:900px;
        width:1200px;
    }

.comments-section {
    
    margin-bottom: 20px;
}

.comment-item {
    border: 3px solid #e1e1e1;
    padding: 0px 10px;
    border-radius: 10px;
    margin-top: 10px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}
    .comment-header img{
        width:25px;
        height:25px;
        border-radius:50%;
    }
.author-name{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size:25px;
}

.comment-date {
    color: #777;
}

.comment-text {
    margin-top: 5px;
    color: #555;
}

.no-comments {
    color: #777;
}

.add-comment-section {
    padding: 20px;
    border-top: 1px solid #e1e1e1;
    margin-top: 20px;
}

.add-comment-heading {
    font-weight:500;
    letter-spacing:5px;
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

.emoji-picker {
    /* Style your emoji picker here */
}
