body {
    background-image: url("https://images.squarespace-cdn.com/content/v1/53ff4a5ce4b0946dd6956d37/1409251563360-CWVRKQXIDAFOPRD5FB5A/20103011_Chad_2484-Edit.jpg?format=2500w");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 500px;
}
