
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin-bottom: 300px;
    padding: 0;
}

.indexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 0px;
}

h1 {
    font-size: 50px;
    margin-bottom: 100px;
}

p {
    font-size: 18px;
    color: #000000;
    margin-bottom: 20px;
}

.nav-button {
    display: inline-block;
    background-color: #fff;
    color: #fff;
    padding: 10px 10px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 7px;
    transition: background-color 0.3s ease;
    margin-bottom: 2px
    
}

    .nav-button:hover {
        background-color: #92d29b;
        text-decoration: double;
        color: white;
    }

a {
    color: #007bff;
    text-decoration: double;
}

    a:hover {
        text-decoration: underline;
    }

.footer {
    background-color: #fff;
    color: #fff;
    text-align: left; 
}
    .footer .FAQ {
        width: 150px;
        font-size: 14px;
    }

        .footer .FAQ a:hover {
            text-decoration: underline;
            background-color: #92d29b;
            border-radius: 8px;
        }
        .footer .FAQ a {
            padding-top: 0px;
        }



