
body {
    font-family: Arial, sans-serif;
    background-color: #e6e6e6;
    /*background-image: url(https://images.squarespace-cdn.com/content/v1/53ff4a5ce4b0946dd6956d37/1409251563817-2G016TMKSQQOUSHBJ5SG/Chin_x_low.jpg?format=2500w);*/
    padding: 0;
}

.indexContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    margin-bottom: 0px;
}

h1 {
    font-size: 50px;
    margin-bottom: 100px;
}

p {
    font-size: 18px;
    color: #000000;
    margin-bottom: 20px;
}

.nav-button {
    display: inline-block;
    background-color: #fff;
    color: #fff;
    padding: 10px 10px;
    font-size: 20px;
    text-decoration: none;
    border-radius: 7px;
    transition: background-color 0.3s ease;
    margin-bottom: 2px
}

    .nav-button:hover {
        background-color: #92d29b;
        text-decoration: double;
        color: white;
    }

    .wrapper{
       position:relative;
       margin-bottom:150px;
    }
a {
    color: #007bff;
    text-decoration: double;
    
}

    a:hover {
        text-decoration: underline;
    }

.footer {
    background-color: #fff;
    color: #fff;
    text-align: left;
}

    .footer .FAQ {
        width: 150px;
        font-size: 18px;
        line-height:40px;
    }

        .footer .FAQ a:hover {
            text-decoration: underline;
            background-color: #92d29b;
            border-radius: 8px;
        }

        .footer .FAQ a {
            padding-top: 0px;
        }

.cta-button {
    display: inline;
    background-color: #92d29b;
    color: #fff;
    padding: 10px 20px;
    font-size: 25px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 20px;
    margin-top: auto;
}

    .cta-button:hover {
        background-color: darkgreen;
        text-decoration: double;
        color: white;
    }
