.login-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 5px;
}

.form-group {
    margin-bottom: 20px;
    color:whitesmoke;
}

.centered-heading {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
    letter-spacing: 6px;
    font-weight: 800;
    margin-top: 20px;
    color: whitesmoke;
}

.form-label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.text-danger {
    color: red;
}
.message{
    color:whitesmoke;
}
.btn-login {
    background-color: #92d29b;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

    .btn-login:hover {
        background-color: darkgreen;
    }

.container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
