.register-form {
    margin-top: 30px;
}

.centered-heading {
    text-align: center;
    font-size: 32px;
    margin-bottom: 0px;
    letter-spacing: 6px;
    font-weight: 800;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.btn-register {
    background: #92d29b;
    width: 35%;
}

    .btn-register:hover {
        background-color: darkgreen;
    }

.gender-label {
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

.gender-radio {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

    .gender-radio label {
        margin-left: 10px;
    }

@media (max-width: 768px) {
    .col-md-5 {
        margin-bottom: 20px;
    }
}
