@using static ClimbingCommunity.Common.GeneralApplicationConstants

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Climbing Community</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/index.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ClimbingCommunity.Web.styles.css" asp-append-version="true" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

</head>
<body>
    <div class="wrapper">
        <header>
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-2">
                <div class="container-fluid">
                    @if (User.Identity?.IsAuthenticated ?? false)
                    {
                        @if (User.IsInRole("Climber"))
                        {
                            <a class="navbar-brand" asp-area="" asp-controller="ClimbingTrip" asp-action="LastThreeClimbingTrips">
                                <img src="~/logo.png" alt="logo" class="logo" />
                            </a>
                            <a class="navbar-brand nav-button" asp-area="" asp-controller="ClimbingTrip" asp-action="All">All Trips</a>

                            <a class="navbar-brand nav-button" asp-area="" asp-controller="ClimbingTrip" asp-action="Add">Create Trip</a>

                            <a class="navbar-brand nav-button" asp-area="" asp-controller="Training" asp-action="All">Find Training</a>

                        }
                        else if (User.Identity?.IsAuthenticated ?? false && User.IsInRole(nameof(Coach)))
                        {
                            <a class="navbar-brand" asp-area="" asp-controller="Training" asp-action="LastThreeTrainings">
                                <img src="~/logo.png" alt="logo" class="logo" />
                            </a>
                            <a class="navbar-brand nav-button" asp-area="" asp-controller="Training" asp-action="All">All Trainings</a>

                            <a class="navbar-brand nav-button" asp-area="" asp-controller="Training" asp-action="Add">Create Training</a>

                            <a class="navbar-brand nav-button" asp-area="" asp-controller="ClimbingTrip" asp-action="All">Climbing Trips</a>

                        }
                    }

                    else
                    {
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                            <img src="~/logo.png" alt="logo" class="logo" />
                        </a>

                    }
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                        </ul>

                        @if (!ViewContext.RouteData.Values["action"].ToString().Equals("RegisterCoach", StringComparison.OrdinalIgnoreCase) &&
                        !ViewContext.RouteData.Values["action"].ToString().Equals("RegisterClimber", StringComparison.OrdinalIgnoreCase) &&
                        !ViewContext.RouteData.Values["action"].ToString().Equals("Login", StringComparison.OrdinalIgnoreCase))
                        {
                            <partial name="_LoginPartial" />

                        }

                    </div>
                </div>
            </nav>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>

        </div>
    </div>
</body>
<footer class="footer text-muted">

    &copy; 2023 - Climbing Community App @ReleaseYear
    @if (DateTime.UtcNow.Year != ReleaseYear)
    {
        @Html.Raw($" - {DateTime.UtcNow.Year}")
        ;

    }
    <div class="FAQ">

        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="FAQ">FAQ</a>

        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="AboutUs">About Us</a>
    </div>


</footer>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</html>


