@model TrainingFormViewModel

@{
    IEnumerable<TargetViewModel> targets = ViewData["Targets"] as List<TargetViewModel>;
}
<link rel="stylesheet" href="~/css/Form.css" asp-append-version="true" />

<h2 class="centered-heading">@ViewData["Title"]</h2>
<div class="form-container">
    <form method="post" enctype="multipart/form-data" class="form">
        <div class="form-group">
            <label for="Title">Title</label>
            <input asp-for="Title" class="form-control" required placeholder="Enter title">
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="Location">Location</label>
            <input asp-for="Location" class="form-control" required placeholder="Enter location">
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="TragetId">Target</label>
            <select asp-for="TragetId" asp-items="@(new SelectList(Model.Targets, "Id", "Name"))" class="form-control" required>
                <option value="">Select target</option>
            </select>
            <span asp-validation-for="TragetId" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="Duration">Duration</label>
            <input asp-for="Duration" class="form-control" required placeholder="Enter duration">
            <span asp-validation-for="Duration" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="Price">Price</label>
            <input asp-for="Price" class="form-control" placeholder="Enter price">
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="PhotoFile">Photo</label>
            <img class="image-preview" src="@Model.PhotoUrl" alt="Training Photo">
            @if (Model.IsEditModel)
            {
                <input asp-for="PhotoFile" type="file" class="form-control-file" accept="image/*">

            }
            else
            {
                <input asp-for="PhotoFile" type="file" class="form-control-file" accept="image/*" required="true">

            }
            <span asp-validation-for="PhotoFile" class="text-danger"></span>
        </div>

        @if (Model.IsEditModel)
        {
            <button asp-area="" asp-controller="Training" asp-action="Edit" type="submit" class="btn-form">Save</button>
        }
        else
        {
            <button asp-area="" asp-controller="Training" asp-action="Add" type="submit" class="btn-form">Add Training</button>
        }
    </form>
</div>
