@model TrainingFormViewModel

@{
    IEnumerable<TargetViewModel> targets = ViewData["Targets"] as List<TargetViewModel>;
}

<form method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" class="form-control" required placeholder="Enter title">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Location"></label>
        <input asp-for="Location" class="form-control" required placeholder="Enter location">
        <span asp-validation-for="Location" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="TragetId"></label>
        <select asp-for="TragetId" asp-items="@(new SelectList(Model.Targets, "Id", "Name"))" class="form-control" required>
            <option value="">Select target</option>
        </select>
        <span asp-validation-for="TragetId" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Duration"></label>
        <input asp-for="Duration" class="form-control" required placeholder="Enter duration">
        <span asp-validation-for="Duration" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <input asp-for="Price" class="form-control" required placeholder="Enter price">
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="PhotoFile"></label>
        <img class="" src="@Model.PhotoUrl" />
        <input asp-for="PhotoFile" type="file" class="form-control-file" accept="image/*">
        <span asp-validation-for="PhotoFile" class="text-danger"></span>
    </div>

    @if (Model.IsEditModel)
    {
        <button asp-area="" asp-controller="Training" asp-action="Edit" type="submit" class="btn btn-primary">Save</button>
    }
    else
    {
        <button asp-area="" asp-controller="Training" asp-action="Add" type="submit" class="btn btn-primary">Add Training</button>
    }
</form>
