<link rel="stylesheet" href="~/css/popupLightbox.css" asp-append-version="true" />

<div id="lightbox-container" class="lightbox-container">
    <div class="lightbox-content">
        <h2>Choose Your User Type</h2>
        <p>What type of member in our community you want to be ?</p>
        <div class="user-type-buttons">
            <button id="climber-button">Climber</button>
            <button id="coach-button">Coach</button>
        </div>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/popupJquery.js"></script>
