@{
    ViewData["Title"] = "About Us";
}
<link rel="stylesheet" href="~/css/AboutUs.css" asp-append-version="true" />
<h2>About Us</h2>
<p>Welcome to our website! We are a dedicated team passionate about climbing and outdoor adventures.</p>
<p>Our mission is to provide a platform for climbers and outdoor enthusiasts to connect, share experiences, and learn from each other.</p>
<p>Whether you are a beginner or an experienced climber, our community is here to support and inspire you on your climbing journey.</p>
<p>Join us today and become a part of the Climbing Community!</p>

<a class="cta-button" asp-area="" asp-controller="Account" asp-action="Register">Join Now</a>