@{
    ViewData["Title"] = "Error 404";
}
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <br>
        <div class="row">
            <div class="col-10">
                <img src="https://img.freepik.com/free-vector/404-error-with-landscape-concept-illustration_114360-7888.jpg?w=740&t=st=1691245614~exp=1691246214~hmac=7fa8b792260b8633f1c0b63dd42696174e4412c634f07e48b966edb8f939fb7c" height="500px">
                <div class="text-left h4">
                    <p>Oops, better check that URL.</p>
                </div>
                <div class="text-left h4"> Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page</div>
            </div>
        </div>
    </div>
    <div class="col-3"></div>
</div>